---
import Layout from '@layouts/layout.astro';
---

<Layout>
	<div class="w-full min-h-screen pt-36 flex flex-col px-4 md:px-8 xl:px-16 py-8 gap-8 items-center">
		<section class="flex flex-col gap-2 items-start w-full mb-20">
			<h1 class="text-5xl uppercase w-full justify-start">
				<span
					data-text="Experience"
					id="description"
                    class="text-start"
					>&nbsp;</span
				>
			</h1>
            <a href="/src/assets/cv/Christopher-Alden_2024_CV.pdf" download class="underline underline-offset-4 text-[#0000ff] uppercase text-xl select-none cursor-pointer">
                Download my cv
            </a>
		</section>
        
        <div class="w-full flex flex-col gap-16">
            <section class="flex flex-col gap-8 w-full  xl:w-1/2 capitalize">
                <h1 class="uppercase">Work experience</h1>
                <div class="flex flex-col gap-4">
                    <div class="text-xs md:text-base">
                        <h2 class="text-gray-400">Binus University</h2>
                        <div class="flex justify-between">
                            <h3>Full-time Laboratory Assistant</h3>
                            <p>2023 - Present</p>
                        </div>
                        <div class="flex justify-between">
                            <h3>Part-time Laboratory Assistant</h3>
                            <p>2023</p>
                        </div>
                    </div>
        
                    <div class="text-xs md:text-base">
                        <h2 class="text-gray-400">Binus Student Learning Community</h2>
                        <div class="flex justify-between">
                            <h3>Scholarship Mentor</h3>
                            <p>2023 - 2024</p>
                        </div>
                    </div>
        
                    <div class="text-xs md:text-base">
                        <h2 class="text-gray-400">Self Employed</h2>
                        <div class="flex justify-between">
                            <h3>Freelance web developer</h3>
                            <p>2023 - present</p>
                        </div>
                    </div>
                </div> 
            </section>
    
        <div class="w-full flex flex-col gap-16">
            <section class="flex flex-col gap-8 w-full  xl:w-1/2 capitalize">
                <h1 class="uppercase">Activities</h1>
                <div class="flex flex-col gap-4 text-xs md:text-base">
                    <div class="flex justify-between">
                        <h3>Compfest AI Hackathon</h3>
                        <p>2024</p>
                    </div>
                    <div class="flex justify-between">
                        <h3 class="w-2/3">8th ICITISEE 2024 - Comparative study of BERT-CNN, TRANS-BLSTM, and RoBERTa Models for sentiment analysis</h3>
                        <p>2024</p>
                    </div>
                    <div class="flex justify-between">
                        <h3>Garudahacks</h3>
                        <p>2024</p>
                    </div>
                    <div class="flex justify-between">
                        <h3>Codefest Web3 Dev Hackathon</h3>
                        <p>2024</p>
                    </div>
                    <div class="flex justify-between">
                        <h3 class="w-3/4">BINUS-KEMENRISTEK DIKTI Character and Moderation Program</h3>
                        <p>2024</p>
                    </div>
                    <div class="flex justify-between">
                        <h3 class="w-3/4">Christ Cathedral Post Productions</h3>
                        <p>2017 - 2020</p>
                    </div>
            </section>

        </div>
	</div>
</Layout>

<script>
	import {textGlitch} from '@lib/animations/text-effect';

	document.addEventListener('DOMContentLoaded', () => {
		const description = document.getElementById('description') as HTMLElement;
		const descriptionText = description.dataset.text as string;

		textGlitch({
			text: descriptionText,
			duration: 50,
			glitch: 2,
			callbackFn: (newText) => {
				description.innerText = newText;
			},
		});
	});
</script>

