---
import Layout from "@layouts/layout.astro"

const date = new Date().toLocaleString('en-US', {
    timeZone: 'Asia/Jakarta',
    hour: '2-digit',
    minute: '2-digit',
    second: '2-digit',
    hour12: false, 
});

---

<Layout>
    <div class="w-full h-screen flex flex-col px-16 py-8">
        <section class="w-full h-full flex flex-col flex-shrink justify-center items-center gap-16">
            <div class="w-fit flex flex-col justify-center items-center">
                <h1 id="name" class="text-9xl tracking-tighter uppercase font-medium">Christopher Alden</h1>
                <h2 class="text-xl">
                    <span data-text="Full-stack developer & Designer" id="description" class="uppercase text-xl">&nbsp;</span>
                </h2>
            </div>
            <div class="w-fit bg-white">
                <a href="/projects/personal/">
                    <button class="uppercase px-8 py-2 border-2 bg-black group">
                        <span class="text-white tracking-wider">See projects</span>
                    </button>
                </a>
            </div> 
        </section>
        <section class="mb-4 w-full">
            <div class="w-full flex justify-between items-start">
                <p class="w-1/2">
                    <span>
                        ~/christopheralden04@gmail.com
                    </span>
                    <span class="text-gray-400">
                        contact*
                    </span>
                </p> 
                <p class="text-gray-400">
                    {date}
                </p>
            </div>
            <div class="flex gap-2 w-full">
                <p class="text-[#0000ff]">
                    >
                </p>
                <input class="w-full" type="text" placeholder="send me a message">
            </div>
        </section>
    </div>
</Layout>

<script>
    import { textGlitch } from "@lib/animations/text-effect";

    document.addEventListener('DOMContentLoaded', ()=>{
        const name = document.getElementById('name') as HTMLElement
        const nameText = name.innerText
        const description = document.getElementById('description') as HTMLElement
        const descriptionText = description.dataset.text as string

        textGlitch({
            text: descriptionText,
            duration: 20,
            glitch: 3,
            hidden: true,
            callbackFn: (newText)=>{
                description.innerText = newText
            }
        })

        textGlitch({
            text: nameText,
            duration: 25,
            glitch: 2,
            callbackFn: (newText)=>{
                name.innerText = newText
            }
        })
    })
</script>