---
import Layout from "@layouts/layout.astro"
import { Github, Instagram, Linkedin} from '@geist-ui/icons'

const date = new Date().toLocaleString('en-US', {
    timeZone: 'Asia/Jakarta',
    hour: '2-digit',
    minute: '2-digit',
    second: '2-digit',
    hour12: false, 
});

---

<Layout className="overflow-hidden" footer={false}>
    <div class="w-full h-[100dvh] flex flex-col p-4 md:px-8 xl:px-16 gap-8">
        <section class="w-full h-full flex flex-col flex-shrink justify-center items-center gap-16">
            <div class="w-fit flex flex-col justify-center items-center">
                <div class="w-fit flex flex-col justify-center items-center">
                    <h1 class="text-center text-7xl md:text-8xl xl:text-9xl tracking-tighter uppercase font-medium min-h-20 flex justify-center items-center">
                        <span id="name">Christopher Alden</span>
                    </h1>
                    <h2 class="text-base md:text-lg xl:text-xl min-h-8 text-center uppercase flex justify-center items-center">
                        <span data-text="Full-stack developer & Designer" id="description">&nbsp;</span>
                    </h2>

                </div>
            </div>
            <div class="w-fit flex justify-center items-center">
                
                <button id="expandable" class="absolute bg-black z-[999] flex justify-center items-center">
                    <span class="text-sm md:text-base text-white tracking-wider text-center text-nowrap uppercase px-8 py-2 rasterize">view works</span>
                </button>
            </div>
        </section>
        <section class="w-full mb-8">
            <section class="w-full flex justify-center items-center gap-4 cursor-pointer">
                <a href="https://github.com/christphralden/"><Github/></a>
                <a href="https://instagram.com/christphralden/"><Instagram/></a>
                <a href="https://www.linkedin.com/in/christphralden/"><Linkedin/></a>
            </section>
        </section> 
    </div>
</Layout>

<script>
    import { textGlitch } from "@lib/animations/text-effect";
    import { gsapProvider } from "@lib/animations/gsap";

    const expandable = document.getElementById('expandable') as HTMLElement
    const name = document.getElementById('name') as HTMLElement
    const nameText = name.innerText
    const description = document.getElementById('description') as HTMLElement
    const descriptionText = description.dataset.text as string

    document.addEventListener('DOMContentLoaded', ()=>{
        textGlitch({
            text: descriptionText,
            duration: 20,
            glitch: 3,
            hidden: true,
            callbackFn: (newText)=>{
                description.innerText = newText
            }
        })

        textGlitch({
            text: nameText,
            duration: 25,
            glitch: 2,
            callbackFn: (newText)=>{
                name.innerText = newText
            }
        })
        expandable.addEventListener('click', ()=>{
            gsapProvider.instance.to(expandable, {
                z:1000,
                width: '100vw',
                height: '100vh',
                ease: 'expo.inOut',
                top: 0,
                left: 0,
                scale: 1.1,
                duration: 1.5,
                onComplete: ()=>{
                    window.location.href = '/works/professional/'
                    expandable.style.width = 'fit'
                    expandable.style.height = 'fit'
                }
            })
        })
    })
</script>