---
import {FaGithub, FaInstagram, FaLinkedin} from "react-icons/fa"
---
<footer class="w-full h-[400px] flex flex-col justify-center items-center p-8 gap-4">
    <section class="w-full h-full flex justify-center gap-4 items-center text-center text-5xl md:text-6xl xl:text-7xl tracking-tighter uppercase font-medium medium select-none">
        Defined by consistency, refined by simplicity.
    </section> 
    <section class="w-full flex justify-center items-center gap-4 cursor-pointer">
        <a href="https://github.com/christphralden/"><FaGithub size={25}/></a>
        <a href="https://instagram.com/christphralden/"><FaInstagram size={25}/></a>
        <a href="https://www.linkedin.com/in/christphralden/"><FaLinkedin size={25}/></a>
    </section>
    <section class="font-sans text-xs">
        Brought to you by <span class="underline underline-offset-4 cursor-pointer"><a href="https://cleanui-design.vercel.app">CLEAN-UI</a></span>
    </section>
</footer>
