---
import {Navbar} from '@components/navbar';
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
	<Navbar client:load/>
    <div class="bg-background justify-start pt-24 min-h-[100dvh] flex flex-col">
		<slot />
    </div>

  </body>

</html>

<style is:global>
	::-webkit-scrollbar-track {
		background-color: transparent;
	}

	::-webkit-scrollbar-thumb {
		background-color: transparent;
		border-radius: 10px;
	}

	::-webkit-scrollbar {
		width: 0px;
	}
	::-moz-selection {
		color: white;
		background: #0000FF
	}

	::selection {
		color: white;
		background: #0000FF
	}
	:root {
		box-sizing: border-box;
		min-height: min;
	}
	*{
		user-select: text;
	}
	a {
		all: unset;
	}
	html {
		font-family: 'Montreal', monospace;
	}
</style>

